.room-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust minmax values as needed */
    grid-gap: 20px; 
  }
  
.room-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center; 
}